<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<title>招聘详情</title>
	<!--<link rel="stylesheet" href="css/bootstrap.min.css">-->
	<link rel="stylesheet" href="css/vant.css">
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/css.css">
<link rel="stylesheet" href="css/job.css">

	<!--<link rel="stylesheet" href="css/swiper.min.css">-->
<script src="js/jquery-1.9.1.js"></script>
<script src="js/js.js"></script>
<script src="js/imgsize.js"></script>
<!--<script src="js/swiper.min.js"></script>-->
<script src="js/vue.min.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/axios.config.js"></script>
<script src="js/vue.min.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/axios.config.js"></script>
<script src="js/base64.js"></script>
	<script src="js/vant.min.js"></script>
	<!--<script src="js/bootstrap.min.js"></script>-->

</head>

<body>
<div class="page" id="app">
	<!--<div class="header">-->
		<!--&lt;!&ndash; <a href="javascript:mainPage()" class="btn_back">返回</a> &ndash;&gt;-->
		<!--<a href="javascript:history.go(-1)" class="btn_back">返回</a>-->
		<!--<h1 class="title">招聘详情</h1>-->
	<!--</div>-->
	<!--<div class="content" style="padding:.79rem 0 .96rem 0;">-->
	<div class="content" style="padding:0 0 .96rem 0;">
		<!--主要信息-->
		<dl class="recruit-infomat-box">
			<dd class="infomat-one">
				<img :src="companyInfoList.logo" class="pic">
				<!--正社员就用type就够了-->
				<!--<div class="type type1">小时工</div>-->
				<div class="type type1">{{ companyInfoList.nature_work }}</div>
				<!--<div class="type type1">{{ companyInfoList.job_type }}</div>-->
				<!-- <div class="type type1">{{ sonId }}</div> -->
				<p class="name">{{ companyInfoList.company_name }}</p>
				<p class="post">{{ companyInfoList.name }}</p>
				<div class="time">
					<!--<span class="s2">{{ companyInfoList.publish_time }}</span>-->
					<span class="s2">{{ time }}</span>
					<span class="s3">{{ companyInfoList.visitor_volume }}</span>
				</div>
			</dd>
			<!--<dt class="infomat-two">-->
				<!--<div class="map">-->
					<!--{{ companyInfoList.province_id }}<br>-->
					<!--{{ companyInfoList.city_id }}-->
				<!--</div>-->
				<!--<a  href="" class="gomap">导航</a>-->
			<!--</dt>-->
			<dt class="infomat-three">
				<div class="three-item">
					<i class="i1"></i>
					<span>{{ companyInfoList.wage }}</span>&nbsp;{{ companyInfoList.pay_type ? companyInfoList.pay_type : '月给' }}
				</div>
				<div class="three-item" v-for="item in companyInfoList.welfare" :key="item.id">
					<i :class="item.image ? item.image:'i5' "></i>
					<!--提供就职证明-->
					{{item.name}}
				</div>
				<!--<div class="three-item">-->
					<!--<i class="i3"></i>-->
					<!--提供交通金-->
				<!--</div>-->
				<!--<div class="three-item">-->
					<!--<i class="i4"></i>-->
					<!--无经验可-->
				<!--</div>-->
			</dt>
		</dl>	
		<!--描述-->
		<div class="casename-top">
			<p>
				<span>职位描述</span><i></i>
			</p>
		</div>
		<div class="position-descri-box">
			<p>{{ companyInfoList.job_description }}</p>
		</div>
		<!--商家照片-->
		<div class="casename-top">
			<p>
				<span>商家照片</span><i></i>
			</p>
		</div>
		<div class="shopshow-box">
			<img :src="item.image" v-for="(item,index) in companyInfoList.company_image" :key="index">
			<!--<img src="images/job_p2.png">-->

		</div>
		<!--已被收藏-->
		<div class="casename-top">
			<p>
				<span>已被收藏({{ collect_user_total }})</span><i></i>
			</p>
		</div>
		<div class="already-collect-box">
			<img :src="collect.user.head_portrait" v-for="collect in companyInfoList.collect_user">
			<!--<img src="images/myt2pic.png">-->
			<!--<img src="images/myt2pic.png">-->

		</div>
	</div>

	<div class="phone-ask-bottom">
		<div class="fl">
			<a href="" class="link" @click.prevent="clickCollect()">
				<img :src="been_collecting">
			</a>
			<!--<el-button :plain="true" @click="open2">成功</el-button>-->


			<a href="" class="link">
				<img src="images/icon_share.png">
			</a>
		</div>
		<div class="fr">
			<!--<div class="my-content-list" @click="tellUs">-->
				<!--联系我们-->
			<!--</div>-->
			<a :href="'tel:'+ companyInfoList.mobile" class="btn btn1"  style="text-decoration: none" >电话求职</a>
			<a href="" class="btn" @click.prevent="send_resume()" style="text-decoration: none">投递简历</a>
		</div>
	</div>








</div>

<script type="text/javascript">

    var vm = new Vue({
        el: '#app',
        data() {
            return {
                companyInfoList: {},
				time: '',
				key: '',
                is_collect: '',  // 是否已经收藏,true / false
                been_collecting: '', // 收藏和未收藏的图片地址
                collect_id: '', // 取消收藏时候用的id

                collect_user_total: '', // 该职位收藏的总数
				// phoneNum: '', // 电话号码
            }
        },
        // props: ["sonId"],
        created() {
            if (getUrlParam('id')) {
                this.getCompanyInfoList(); // 获取单个招聘信息，需要从列表页进入或者从首页的推荐列表进入
			}
            this.getLunboRecruitment();// 获取单个招聘信息， 从轮播如进来的
        },
        methods:{
            tellUs() {
                // Dialog.confirm({
                //     title: '确定拔打',
                //     message: '1314520',
                // }).then(() => {
                //     alert(1);
                // }).catch(() => {
                //     alert(2);
                // });
                this.$dialog.confirm({
                    // title: '确定拔打',
                    message: "电话号码：15122233344",
                    // message:'电话号码：' + this.phoneNum,
                })
                    .then(function () {
                        // 点击确定执行
						console.log(true)
                    })
                    .catch(function () {
                        // 点击取消执行
                        console.log(false)
                    });
            },
			getLunboRecruitment() {
			    console.log(getUrlParam('recruitment'));
			    if (getUrlParam('recruitment')) {
                    this.$axios.get('/recruitment_info/'+ getUrlParam('recruitment')+ '/' ,{
                        headers: {
                            'Authorization': "JWT " + localStorage.getItem("usertoken")
						}
                    })
                        .then(res => {
                            this.companyInfoList = res.data;
                            this.time = formatDate(this.companyInfoList.publish_time);
                            // alert(1);
                            console.log(res.data);
                            // this.phoneNum = res.data.mobile;
                            this.collect_user_total = res.data.collect_user.length;
                            // console.log(res.data.collect_user.length);
                            this.is_collect = res.data.is_collect;
                            console.log(this.is_collect);

                            if (res.data.collect_id) { // 如果这个存在 ，我再取你
                                this.collect_id = res.data.collect_id;
                                console.log(this.collect_id);
                            }

                            if (this.is_collect) {
                                this.been_collecting = 'images/icon_collecton.png'
                            }else {
                                this.been_collecting = 'images/icon_collect.png'
                            }
                            // alert(2);
                        })
                        .catch(error => {
                            alert('请求信息失败，网络错误，请重试');
                        })
				}
			},
			getCompanyInfoList() {
                var my_headers = {};
                if (localStorage.getItem("usertoken")){
                    my_headers = {
                        'Authorization': "JWT " + localStorage.getItem("usertoken")
                    };
                }
			    this.$axios.get('/recruitment_info/'+ getUrlParam('id')+ '/' ,{
                    headers: my_headers,
                })
				.then(res => {
					this.companyInfoList = res.data;
                    this.time = formatDate(this.companyInfoList.publish_time);// 发布时间
					// alert(1);
					console.log(res.data);
					// this.phoneNum = res.data.mobile;
					this.collect_user_total = res.data.collect_user.length;
					// console.log(res.data.collect_user.length);
					this.is_collect = res.data.is_collect;
					console.log(this.is_collect);

					if (res.data.collect_id) { // 如果这个存在 ，我再取你
                        this.collect_id = res.data.collect_id;
                        console.log(this.collect_id);
					}

					if (this.is_collect) {
                        this.been_collecting = 'images/icon_collecton.png'
					}else {
					    this.been_collecting = 'images/icon_collect.png'
					}
                    // alert(2);

				})
				.catch(error => {
					alert('请求单个招聘信息失败');
				})
			}, // 获取单个招聘信息，需要从列表页进入

            getCompanyInfoAgain() {
                if (getUrlParam('recruitment')) {
                    this.$axios.get('/recruitment_info/'+ getUrlParam('recruitment')+ '/' ,{
                        headers: {
                            'Authorization': "JWT " + localStorage.getItem("usertoken")
                        }
                    })
                        .then(res => {
                            this.companyInfoList = res.data;
                            // alert(2);
                        })
                        .catch(error => {
                            alert('网络错误，请重试');
                        })
                }
                else {
                    var my_headers = {};
                    if (localStorage.getItem("usertoken")){
                        my_headers = {
                            'Authorization': "JWT " + localStorage.getItem("usertoken")
                        };
                    }
                    this.$axios.get('/recruitment_info/'+ getUrlParam('id')+ '/' ,{
                        headers: my_headers,
                    })
                        .then(res => {
                            this.companyInfoList = res.data;
                        })
                        .catch(error => {
                            alert('网络错误，请重试');
                        })
				}
			},

            clickCollect() {
				var id_token = localStorage.getItem("usertoken"); // 1.获取本地存储的token
                // console.log(id_token);
                var token_parts = id_token.split('.');
                var id = token_parts[1];
                var d = Base64.decode(id); // 解码；
				// console.log(d);
				// console.log(typeof d);  // 取到的是字符串，需要转json
                var ob = JSON.parse(d);
                console.log(ob.user_id);   // 这个是用户ID
				console.log(getUrlParam('id'));

				// 下面继续判断是否已经收藏，如果收藏了，发送 取消收藏请求，否则发送收藏请求
				if (!this.is_collect) {
				    var data = {};
				    if (getUrlParam('recruitment')) {
				        data = {
                            user: ob.user_id,
                            recruitment: getUrlParam('recruitment')
						}
					}
					else {
                        data = {
                            user: ob.user_id,
                            recruitment: getUrlParam('id')
                        }
					}

                    axios({
                        headers: {
                            'Authorization': "JWT " + localStorage.getItem("usertoken")
                        },
                        method: 'post',
                        url: '/collect/',
                        // data: {
                        //     user: ob.user_id,
                        //     recruitment: getUrlParam('id')
                        // }
						data: data
                    }).then(res => {
                        console.log(res);
                        this.been_collecting = 'images/icon_collecton.png'; // 更换收藏图片
                        // window.location.reload();
						this.is_collect = !this.is_collect; // 让 收藏取反
						this.collect_id = res.data.id; // 重新赋值 收藏的ID
						console.log(res.data);
                        this.companyInfoList.collect_user.push(res.data); // 把这个对象放到 收藏列表里面，显示多一个人的头像
                        this.collect_user_total = this.companyInfoList.collect_user.length; // 收藏的总数也多一个
                        alert('收藏成功');
                        this.getCompanyInfoAgain();
                    })
                        .catch(error => {
                            alert('收藏失败，网络错误');
                        });
				}
				if (this.is_collect) {
                    axios({
                        headers: {
                            'Authorization': "JWT " + localStorage.getItem("usertoken")
                        },
                        method: 'delete',
                        url: '/collect/'+ this.collect_id +"/",
                    }).then(res => {
                        console.log(res);
                        console.log('/collect/'+ this.collect_id + '/');
                        this.been_collecting = 'images/icon_collect.png'; // 更换收藏图片
                        // window.location.reload(); // 重新加载当前文档
                        this.is_collect = !this.is_collect; // 让 收藏取反
                        //删除收藏用户数据
						let collect_index = '';
						for (let index in this.companyInfoList.collect_user) {
						    if (this.companyInfoList.collect_user[index].id == this.collect_id) {
                                collect_index = index;
                                break;
							}
						}
						if (collect_index) this.companyInfoList.collect_user.splice(collect_index, 1);
						this.collect_user_total = this.companyInfoList.collect_user.length;

                        alert('取消收藏成功');
                    })
                        .catch(error => {
                            alert('取消收藏失败，网络错误');
                        });
				}

			}, // 点击收藏or 取消收藏

            send_resume() {
                axios({
                    headers: {
                        'Authorization': "JWT " + localStorage.getItem("usertoken")
                    },
                    method: 'get',
                    url: '/resume/',
                }).then(res => {
                    // window.location.reload(); // 重新加载当前文档
                    console.log(res.data.results);
                    // this.ResumeList = res.data.results;
					// 1.先获取自己的简历列表，判断是否为空没有简历，则跳转创建建立页面
					if (res.data.results.length > 0) {
					    window.location.href = 'my_givejob2.html?id=' + getUrlParam('id'); // 跳转到简历列表界面
					}else {
                        window.location.href = 'my_givejob.html';  // 跳转到我的简历列表界面
					}

                })
                    .catch(error => {
                        console.log(error);
                        alert('获取简历列表失败,网络错误,请重试');
                    });
			} // 投递简历

        }
    });

    //通过正则匹配获取当前页面的url中的参数
    function getUrlParam(name){
        var reg = new RegExp("(^|&)"+name+"=([^&]*)(&|$)");
        var r =  window.location.search.substr(1).match(reg);
        var strValue = "";
        if (r!=null){
            strValue= unescape(r[2]);
        }
        return strValue;
    }

    // 时间格式化
    function formatDate(time){
        var date = new Date(time);

        var year = date.getFullYear(),
            month = date.getMonth() + 1,//月份是从0开始的
            day = date.getDate(),
            hour = date.getHours(),
            min = date.getMinutes(),
            sec = date.getSeconds();
        var newTime = year + '-' +
            month + '-' +
            day + ' ';
        // var newTime = year + '-' +
        //     month + '-' +
        //     day + ' ' +
        //     hour + ':' +
        //     min + ':' +
        //     sec;
        return newTime;
    }


</script>


</body>
</html>
