<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>网博</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/css.css">
    <link rel="stylesheet" href="css/job.css">
    <link rel="stylesheet" href="css/swiper.min.css">
    <script src="js/jquery-1.9.1.js"></script>
    <script src="js/js.js"></script>
    <script src="js/imgsize.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/axios.config.js"></script>

</head>

<body>
<div id="app">
    <div class="page">
        <div class="header">
            <!-- <a href="javascript:mainPage()" class="btn_back">返回</a> -->
            <a href="javascript:history.go(-1)" class="btn_back">返回</a>
            <h1 class="title">招聘列表</h1>
        </div>
        <div class="tab-recruit" style="top: .79rem;">
            <a href="javascript:;" class="item item1">
                <span>{{ area }}</span>
                <!--<span>工作地区</span>-->
            </a>
            <a href="javascript:;" class="item item2">
                <span>{{ metro }}</span>
            </a>
            <a href="javascript:;" class="item item3">
                <span>{{ title }}</span>
            </a>
        </div>
        <div class="content" style="padding:1.59rem 0 0 0;">
            <dl class="recruit-list-mod">
                <dt v-for="job in allJob" :key="job.id">
                    <a :href="'job_detail.html?url=recruitment_info&id='+ job.id" class="info">
                        <div class="fl">
                            <h1>{{ job.name }}</h1>
                            <h2>{{ job.company_name }}</h2>
                            <ul class="list">
                                <li>
                                    <span class="s1">福建省福州市鼓楼区软件园大道{{ job.province + job.city + job.address }}</span>
                                </li>
                                <li>
                                    <span class="s2">{{ formatDate(job.publish_time) }}</span>
                                    <span class="s3">{{ job.visitor_volume}}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="fr">
                            <h1>日币</h1>
                            <h2>{{ job.wage }}</h2>
                            <h3>月给</h3>
                            <div class="type">{{ job.nature_work }}</div>
                        </div>
                    </a>
                </dt>
                <!--<dt>-->
                <!--<a href="job_detail.html" class="info">-->
                <!--<div class="fl">-->
                <!--<h1>会计经理</h1>-->
                <!--<h2>福州锐掌网络科技有限公司</h2>-->
                <!--<ul class="list">-->
                <!--<li>-->
                <!--<span class="s1">福建省福州市鼓楼区软件园大道</span>-->
                <!--</li>-->
                <!--<li>-->
                <!--<span class="s2">10小时前</span>-->
                <!--<span class="s3">1000</span>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</div>-->
                <!--<div class="fr">-->
                <!--<h1>日币</h1>-->
                <!--<h2>22万-70万</h2>-->
                <!--<h3>月给</h3>-->
                <!--<div class="type type1">小时工</div>-->
                <!--</div>-->
                <!--</a>-->
                <!--</dt>-->

            </dl>
        </div>
    </div>

    <!--遮罩-->
    <div class="sitejapan-mask" style="height: calc(100vh - 1.59rem); top: 1.59rem;" id="mask1"></div>
    <div class="sitejapan-mask" style="height: calc(100vh - 1.59rem); top: 1.59rem;" id="mask2"></div>
    <div class="sitejapan-mask" style="height: calc(100vh - 1.59rem); top: 1.59rem;" id="mask3"></div>
    <!--工作地区-->
    <div class="sitejapan-box" style="top: 1.59rem;">
        <a href="javascript:;" :class="[{on:index == oneOn},'item']" v-for="(area,index) in areas" :key="index" @click="areaSetOn(area,index)">{{ area.name }}</a>
        <!--<a href="javascript:;" class="item">横滨</a>-->
        <!--<a href="javascript:;" class="item">大阪</a>-->

    </div>
    <!--地铁线路-->
    <div class="sitejapan-box1" style="top: 1.59rem;">
        <div class="subway">
            <a href="javascript:;" :class="[{on:index == twoOn},'main','sub-item']" v-for="(sbw,index) in subs" :key="index" @click="sbwSetOn(sbw,index)">{{ sbw.name }}</a>
            <!--<a href="javascript:;" class="main sub-item">地区名称地区名称</a>-->

        </div>
        <div class="subway subway1">
            <!--<a href="javascript:;" :class="[{on:index == twoOn2},'sub-item1','sub-item']" v-for="(smallSbw,index) in bigSubs" :key="index" @click="sbw2SetOn(smallSbw,index)">{{smallSbw.name}}</a>-->
            <a href="javascript:;" :class="[{on:index == twoOn2},'sub-item1','sub-item']" v-for="(smallSbw,index) in bigSubs" :key="index" @click="sbw2SetOn(bigSubs_zi_di_qu,index)">{{bigSubs_zi_di_qu}}</a>
            <!--<a href="javascript:;" class="sub-item sub-item1">地区名称地区名称</a>-->

        </div>
    </div>
    <!--一般事务-->
    <div class="sitejapan-box2" style="top: 1.59rem;" id="app2">
        <a :class="[{on:item.id == titleIndex},'case-item']" :data-id="item.id" v-for="item in category" :key="item.id" @click="SetClassOn(item)">{{ item.name }}</a>
        <!--<a href="javascript:;" class="case-item on">餐饮</a>-->

    </div>
</div>
<script>
    $(function(){

        $(".tab-recruit .item1").click(
            function(){
                $(".sitejapan-box").slideToggle();
                $("#mask1").toggle();
                $(this).toggleClass("thisone");
                $(".tab-recruit .item2").removeClass("thisone");
                $(".tab-recruit .item3").removeClass("thisone");
                $(".sitejapan-box2").slideUp();
                $(".sitejapan-box1").slideUp();
                $("#mask2").hide();
                $("#mask3").hide();
            }
        );

        $("#mask1").click(function(){
            $(".sitejapan-box").slideUp();
            $(".sitejapan-box1").slideUp();
            $(".sitejapan-box2").slideUp();
            $(".tab-recruit .item").removeClass("thisone");
            $(this).hide();
        });
        $(".sitejapan-box .item").click(function(){
            $(this).addClass("on").siblings("a").removeClass("on");
            $(".sitejapan-mask").hide();
            $(".tab-recruit .item").removeClass("thisone");
            setTimeout(function(){$(".sitejapan-box").slideUp()},100);
            $(".item1 span").html($(this).text()); // 设置工作地区 地址
        });
        $(".tab-recruit .item2").click(
            function(){
                $(".sitejapan-box1").slideToggle();
                $("#mask2").toggle();
                $(this).toggleClass("thisone");
                $(".tab-recruit .item1").removeClass("thisone");
                $(".tab-recruit .item3").removeClass("thisone");
                $(".sitejapan-box").slideUp();
                $(".sitejapan-box2").slideUp();
                $("#mask1").hide();
                $("#mask3").hide();
            }
        );
        $(".subway .main").click(function(){ //地铁路线第一排切换样式
            $(this).addClass("on").siblings("a").removeClass("on");

        });
        // $(".sitejapan-box1 .sub-item1").click(function(){
        // 	$(this).addClass("on").siblings("a").removeClass("on");
        // 	$(".sitejapan-mask").hide();
        // 	$(".tab-recruit .item").removeClass("thisone");
        // 	setTimeout(function(){$(".sitejapan-box1").slideUp()},100);
        // });
        $("#mask2").click(function(){
            $(".sitejapan-box").slideUp();
            $(".sitejapan-box1").slideUp();
            $(".sitejapan-box2").slideUp();
            $(".tab-recruit .item").removeClass("thisone");
            $(this).hide();
        });
        $(".tab-recruit .item3").click(
            function(){
                $(".sitejapan-box2").slideToggle();
                $("#mask3").toggle();
                $(this).toggleClass("thisone");
                $(".tab-recruit .item1").removeClass("thisone");
                $(".tab-recruit .item2").removeClass("thisone");
                $(".sitejapan-box").slideUp();
                $(".sitejapan-box1").slideUp();
                $("#mask1").hide();
                $("#mask2").hide();
            }
        );
        // $(".sitejapan-box2 .case-item").click(function(){
        // 	// $(this).addClass("on").siblings("a").removeClass("on");
        // 	$(".sitejapan-mask").hide();
        // 	$(".tab-recruit .item").removeClass("thisone");
        // 	setTimeout(function(){$(".sitejapan-box2").slideUp()},100);
        // 	$(".item3 span").html($(this).text()); // 设置工作地区 地址
        // });
        $("#mask3").click(function(){
            $(".sitejapan-box").slideUp();
            $(".sitejapan-box1").slideUp();
            $(".sitejapan-box2").slideUp();
            $(".tab-recruit .item").removeClass("thisone");
            $(this).hide();
        });
    })
</script>

<script type="text/javascript">

    var vm = new Vue({
        el: '#app',
        data() {
            return {
                oneOn: 0, // 初始化工作地区on的索引
                twoOn: 0, // 初始化地铁路线左侧on的索引
                titleIndex: getUrlParam('id'),
                areas: [],
                category: [],
                title:'全部',
                area: '工作地区',
                subs: [], // 地铁路线左侧

                twoOn2: 0, // 初始化地铁路线右侧on的索引
                bigSubs: [], // 地铁路线右侧
                bigSubs_zi_di_qu: [], // 地铁路线右侧子地区
                metro: '地铁路线',
                allJob: [],
                _id1: '', // 局部更新工作地区 现在地的id

                // 局部加条件刷新，
                province: '',
                search: getUrlParam('a'),
                aaadizhi: '',
                lei_bie: '',
            }
        },
        created() {
            this.getCategory();
            this.workAreas();
            this.subwayLoad();
            this.subwayLoad2();
            this.jobList();

        },
        methods:{

            jobList() {
                this.$axios.get('/recruitment_info/',{
                    headers: {
                        'Authorization': "JWT " + localStorage.getItem("usertoken")
                    },
                    params: {
                        search: this.search,  // 搜索的关键字
                        province: this.aaadizhi,  // 工作地区
                    }
                })
                    .then(res => {
                        this.allJob = res.data.results;
                        console.log(res.data.results);
                    })
                    .catch(error => {
                        alert('请求全部工作列表失败');
                    })
            },


            areaSetOn(area,index) {
                // this.oneOn = index;
                // this.area = area.name;
                // $(".sitejapan-mask").hide();
                // $(".tab-recruit .item").removeClass("thisone");
                // setTimeout(function(){$(".sitejapan-box").slideUp()},100);
                // // $(".item1 span").html($(this).text()); // 设置工作地区 地址

                this.$axios.get('/recruitment_info/',{
                    headers: {
                        'Authorization': "JWT " + localStorage.getItem("usertoken")
                    },
                    params: {
                        search: this.search,  // 搜索的关键字
                        province: this.aaadizhi,  // 工作地区
                        // metro_station: this.bigSubs_zi_di_qu,  // 地铁路线 二级的

                    }
                })
                    .then(res => {
                        this.allJob = res.data.results;
                        console.log(res.data.results);
                    })
                    .catch(error => {
                        alert('请求全部工作列表失败');
                    });

                this.oneOn = index;
                this.area = area.name;
                $(".sitejapan-mask").hide();
                $(".tab-recruit .item").removeClass("thisone");
                setTimeout(function(){$(".sitejapan-box").slideUp()},100);
                // $(".item1 span").html($(this).text()); // 设置工作地区 地址

            },

            sbwSetOn(sbw,index) {
                this.twoOn = index;
            },

            sbw2SetOn(smallSbw,index) {
                this.$axios.get('/recruitment_info/',{
                    headers: {
                        'Authorization': "JWT " + localStorage.getItem("usertoken")
                    },
                    params: {
                        search: this.search,  // 搜索的关键字
                        province: this.aaadizhi,  // 工作地区
                        metro_station: this.bigSubs_zi_di_qu,  // 地铁路线 二级的
                        job_type: this.lei_bie
                    }
                })
                    .then(res => {
                        this.allJob = res.data.results;
                        console.log(res.data.results);
                    })
                    .catch(error => {
                        alert('请求全部工作列表失败');
                    });

                this.twoOn2 = index;
                // this.metro = smallSbw.name;
                this.metro = this.bigSubs_zi_di_qu;
                $(".sitejapan-mask").hide();
                $(".tab-recruit .item").removeClass("thisone");
                setTimeout(function(){$(".sitejapan-box1").slideUp()},100);

            },

            SetClassOn(item){
                console.log(item);
                this.titleIndex = item.id;
                this.title=item.name;
                this.lei_bie = item.value;
                // console.log(this.title);
                $(".sitejapan-mask").hide();
                $(".tab-recruit .item").removeClass("thisone");
                setTimeout(function(){$(".sitejapan-box2").slideUp()},100);

                if (this.bigSubs_zi_di_qu == '站点名称') {
                    this.$axios.get('/recruitment_info/',{
                        headers: {
                            'Authorization': "JWT " + localStorage.getItem("usertoken")
                        },
                        params: {
                            search: this.search,  // 搜索的关键字
                            province: this.aaadizhi,  // 工作地区
                            metro_station: '',  // 地铁路线 二级的
                            job_type: this.lei_bie  // 获取类别，进行筛选

                        }
                    })
                        .then(res => {
                            this.allJob = res.data.results;
                            console.log(res.data.results);
                        })
                        .catch(error => {
                            alert('请求全部工作列表失败');
                        });
                }else {
                    this.$axios.get('/recruitment_info/',{
                        headers: {
                            'Authorization': "JWT " + localStorage.getItem("usertoken")
                        },
                        params: {
                            search: this.search,  // 搜索的关键字
                            province: this.aaadizhi,  // 工作地区
                            metro_station: this.bigSubs_zi_di_qu,  // 地铁路线 二级的
                            job_type: this.lei_bie  // 获取类别，进行筛选

                        }
                    })
                        .then(res => {
                            this.allJob = res.data.results;
                            console.log(res.data.results);
                        })
                        .catch(error => {
                            alert('请求全部工作列表失败');
                        });
                }



            },

            workAreas () { //获取工作地区
                this.$axios.get('/place/',{
                    headers: {
                        'Authorization': "JWT " + localStorage.getItem("usertoken")
                    },
                })
                    .then(res => {
                        this.areas = res.data;
                        console.log(res.data);

                        for (let i = 0; i<res.data.length; i++) {
                            this.aaadizhi = res.data[i].name;
                            this._id1 = res.data[i].id;

                            console.log(this._id1); // 获取工作地区的单个id值，留作更新用
                        }

                    })
                    .catch(error => {
                        alert('请求工作地区失败');
                    })
            },

            subwayLoad () { // 地铁路线
                this.$axios.get('/metro/',{
                    headers: {
                        'Authorization': "JWT " + localStorage.getItem("usertoken")
                    },
                })
                    .then(res => {
                        this.subs = res.data;
                        console.log(res.data);
                    })
                    .catch(error => {
                        alert('请求地铁路线左侧失败');
                    })
            },
            subwayLoad2(bigSubs_zi_di_qu) {
                this.$axios.get('/metro/',{
                    headers: {
                        'Authorization': "JWT " + localStorage.getItem("usertoken")
                    },
                })
                    .then(res => {
                        this.bigSubs = res.data;
                        console.log(res.data);

                        for (var i = 0; i< res.data.length; i++) {  //  获取到地铁 的大地区，左侧的
                            var bigSubs_zi = res.data[i].child;
                            console.log(bigSubs_zi);

                            for (var j = 0; j<bigSubs_zi.length; j++) {  //  获取到地铁 的子地区，右侧的
                                this.bigSubs_zi_di_qu = bigSubs_zi[j].name;
                                console.log(this.bigSubs_zi_di_qu);
                            }
                        }

                    })
                    .catch(error => {
                        alert('请求地铁路线右侧失败');
                    })
            },
            getCategory() {
                this.$axios.get('/job_type/',{
                    headers: {
                        'Authorization': "JWT " + localStorage.getItem("usertoken")
                    },
                }) //获取首页类别
                    .then(res => {
                        this.category = res.data;
                        console.log(res.data);

                        for (var i=0; i<res.data.length; i++){
                            if(res.data[i].id == this.titleIndex){
                                this.title = res.data[i].name;
                            }
                        }
                    })
                    .catch(error => {
                        alert('请求类别失败');
                    })
            },


        }
    });

    //通过正则匹配获取当前页面的url中的参数
    function getUrlParam(name){
        var reg = new RegExp("(^|&)"+name+"=([^&]*)(&|$)");
        var r =  window.location.search.substr(1).match(reg);
        var strValue = "";
        if (r!=null){
            strValue= unescape(r[2]);
        }
        return strValue;
    }

    // 时间格式化
    function formatDate(time){
        var date = new Date(time);

        var year = date.getFullYear(),
            month = date.getMonth() + 1,//月份是从0开始的
            day = date.getDate(),
            hour = date.getHours(),
            min = date.getMinutes(),
            sec = date.getSeconds();
        var newTime = year + '-' +
            month + '-' +
            day + ' ';
        // var newTime = year + '-' +
        //     month + '-' +
        //     day + ' ' +
        //     hour + ':' +
        //     min + ':' +
        //     sec;
        return newTime;
    }
</script>


</body>
</html>
